{{ define "title" }}About{{ end }}

{{ define "main" }}
	<h2>About</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut elit
		nec diam fermentum pharetra in a eros. Ut volutpat vulputate commodo. Morbi
		consectetur ex risus, sed cursus dolor venenatis nec. Phasellus finibus vel
		nisl a scelerisque. Integer mattis magna in ligula gravida consectetur.
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
		inceptos himenaeos. Donec sit amet augue vel urna tincidunt gravida. Integer
		ornare a libero nec venenatis. Morbi mattis blandit dui, vitae maximus leo
		iaculis sit amet. Interdum et malesuada fames ac ante ipsum primis in
		faucibus. Duis consequat mollis nisl, vel fermentum est. Praesent in erat
		dapibus, vehicula felis vitae, maximus neque. Nam iaculis metus ut venenatis
		pulvinar. Praesent sed tellus suscipit enim euismod vehicula id quis ipsum.
		Aenean id sem at augue venenatis euismod.
	</p>
{{ end }}
